@page
@model IndexModel
@{
    ViewData["Title"] = "Nicky Waites - My slice of the web";
}

<h1 class="mb-0">Nicky<span class="text-primary">Waites</span>

</h1>
<div class="subheading mb-3">
    I am a Software Engineer with a passion for the Web and Games.
</div>
<p class="mb-3">
    I have over 11 years experience building web applications and love the challenge of taking projects from concept right through to seeing users solving their problems and enjoying the user experience.
</p>
<p class="mb-3">
    When I'm not writing software for industry I'm hobby crafting for the web and games, experimenting with the latest web frameworks and writing games in unity.
</p>

<ul class="list-inline list-social-icons mb-0">
    <li class="list-inline-item">
        <a href="https://twitter.com/nickywaites">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/pub/nicky-waites/13/719/b5b">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="http://stackoverflow.com/users/98589/nicky-waites">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://github.com/nickywaites">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github-square fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="http://jsfiddle.net/user/nickywaites/fiddles/">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-jsfiddle fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
</ul>
